$tablet-min-width: 640px;
$desktop-min-width: 1024px;
$big-desktop-min-width: 1600px;

$title-color: #253757;
$title-secondary-color: #C0CDD7;

$main-text-color: #FFFFFF;
$secondary-text-color: #6C788B;

$header_footer-background-color: #2C2C2C;
$accent-color: #2060F6;
$sections-background-color: #F2F6FA;
$link-color: #334563;

$testimonials-label-color: #C0CDD7;

$footer-text-color: #c0cdd7;


